body {
    font-family: Arial; 
    font-size: 12px; 
    background: grey;
}
header {
    background-color:rgb(172, 146, 231);
}
header h1{
    text-align: center;
}
header nav{
    text-align: center;
}
header nav a { 
    color: white;
    background: rgb(240, 142, 158);
    padding: 5px; 
}
main {
    background: white; 
    padding: 5px;
}
main section{
    overflow: hidden;
}
.background-grey{
    background: rgb(189, 187, 187); 
}
.background-aqua{
    background: aqua; 
}
.main-link{
text-transform: uppercase;
}

header nav a:hover {
background: palevioletred;
}

main section img{
       width: 300px;  
}